 /* The Modal */
 .modal {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
 }

 .searchModal {

      .modal-content {
        background: $light-grey;
        padding: em(15);
        width: 100%;
        height: 100%;
        display: flex;
        width: 100%;       

        div{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          font-weight: 700;

            form{
              width: 100%;
              & > input {
                width: 100%;
                border-bottom: 2px solid #e9edf0;
                border-radius: unset;
                background: transparent;
                font-size: 33;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 3.157em;
                line-height: 1.2em;
                color:$dark-grey;
                box-shadow: unset;
              }
            }
        }
      }
  }


/* The Modal (background) */
 .menuModal {
  background-color: rgba(45, 52, 54, 0.95);
    .modal-content {
      background: $dark-grey;
      overflow-y: auto;
      width: 100%;
      max-width: em(320);
      display: block;
      top: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      padding: em(30) em(30);
      display: flex;
      flex-direction: column;

      nav {
        position: relative;

        .container{
          flex-direction: column;
          flex-wrap: wrap;
          padding: 0;

          .site-logo {
            text-align: center;
            margin-bottom: em(45);
              a {
                  border: none;
                }
              }

                .navigation {
                  flex-direction: column;
                  align-items: unset;
                  display: flex;
                  margin: 0;
                      a {
                        border: none;
                        padding: em(10) 0;
                        align-items: unset;
                        height: unset;
                        &:hover {
                          color: $white;
                      }
                  }

                  .dropdown {
                    a {
                        span {
                            top: unset;
                            right: 0;
                            bottom: unset;
                            left: unset;
                        }
                    }

                    ul {
                        display: none;
                        position: unset;
                        top: unset;
                    }
                    
                    &:hover > ul {
                        display: flex;
                        background: unset;
                        li{
                           a {
                             padding: em(5) 0;
                                color: unset;
                                &:hover {
                                    color: unset;
                                }
                           }
                        }
                    }
                }
              }

              .copyright {
                border: solid em(1) transparent;
                margin-top: em(60);
                padding: em(30) 0;
                border-top-color:#252525;
                text-align: center;
                @extend %small-text;
                a {
                  text-decoration: none;
                  color: $font-color;
                }
              }
        }

    }

  }
}

/* The Close Button */
.closeDialog {
  color: $grey;
  font-size: em(28);
  position: absolute;
  top: 0;
  right: 15;
}

.closeDialog:hover,
.closeDialog:focus {
  cursor: pointer;
}